<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przykładowy interfejs administratora - 1</title>
    <link rel="stylesheet" href="../../styles/index.css">
</head>

<body>
    <div class="main">
        <div class="main-wrapper">
            <div class="left-panel">
                <div class="left-panel-wrapper">
                    <div class="list">
                        <a href="./index.html"><i><img src="../icons/camera_outdoor_FILL0_wght400_GRAD0_opsz48.svg"
                                    alt="Home"></i></a>
                        <a href="../lista_wytworni_filmowych.html"><i><img src="../icons/building.svg"
                                    alt="Wytwórnie filmowe"></i></a>
                        <a href="../lista_filmow.html"><i><img src="../icons/film.svg" alt="Filmy"></i></a>
                        <a href="../wyszukiwarka_filmow.html"><i><img
                                    src="../icons/pageview_FILL0_wght400_GRAD0_opsz48.svg"
                                    alt="Wyszukiwarka"></i></a>
                    </div>
                </div>
            </div>
            <div class="right-panel">
               {{{body}}}
            </div>
        </div>
    </div>
</body>

</html>